.Hedgehog {
  height: 150px;
  width: 150px;
  transform: scale(-1, 1);
  animation: rotate 3s infinite;
  @keyframes rotate {
    0% {
      transform: rotate(-10deg);
    }

    50% {
      transform: rotate(10deg);
    }

    100% {
      transform: rotate(-10deg);
    }
  }
}
